*,
*::before,
*::after {
  box-sizing: border-box;
  &:not(input) {
    user-select: none;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
p,
span {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none
}

a {
  color: inherit;
  text-decoration: none;
}

svg{
  pointer-events: none;
}
