:root {
  --clrDarkTangerine: rgb(253, 162, 20);
  --clrLightTangerine: rgb(255, 184, 74);
  --clrSpindle: rgb(188, 206, 217);
  --clrArapawa: rgb(48, 72, 89);
  --clrTangaroa: rgb(21, 41, 56);
  --clrWhiteSmoke: rgb(242, 242, 242);
  --clrBermudaGrey: rgb(113, 145, 165);
  --clrShakespeare: rgb(99, 149, 184);
  --clrPattensBlue: rgb(223, 231, 236);
  --clrSnow: rgb(252, 252, 252);
  --modalClr: rgb(90, 104, 115);
  --font-family: 'Atkinson Hyperlegible', sans-serif;
}
